:root {
  /* Colors */
  /* Background colors */
  --global--dark--BackgroundColor:       #1c383c;
  --global--light--BackgroundColor:      #f4f4f4;
  --global--light--off--BackgroundColor: #ffffff;

  /* Text colors */
  --global--dark--Color:                #1c383c;
  --global--dark--highlight--Color:     #ff9820;
  --global--light--Color:               #ffffff;

  /* Typography */
  /* Font family */
  --global--sans-serif--FontFamily:     'Spline Sans', sans-serif;

  /* Font size */
  --global--hero-title--FontSize:       44px;
  --global--main-title--FontSize:       44px;
  --global--body--FontSize:             18px;

  /* Line height */


  /* Font weight */
}